@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes imageScaling {
  0% {
    transform: scale(0.8);
    filter: brightness(0.8);
  }
  100% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 1rem;
  --gradient-primary: linear-gradient(to top left, #229be0, #6dc4c4);
  --gradient-primary1: linear-gradient(to top right, #89acf3, #a0cee1);
  --gradient-secondary: linear-gradient(to bottom right, #c0d7d8, #515658);
  --gradient-oragered: linear-gradient(
    to top right,
    rgb(253, 84, 6),
    rgb(230, 128, 65)
  );
  --gradient-dark: linear-gradient(to bottom right, #040e15, #160000);
  --bg-grade: linear-gradient(
    to bottom right,
    rgba(4, 100, 127, 0.886),
    rgba(4, 100, 127, 0.65),
    rgba(4, 100, 127, 0.5),
    rgba(4, 100, 127, 0.25),
    rgba(4, 100, 127, 0.1),
    rgba(4, 100, 127, 0.05),
    rgba(4, 100, 127, 0.01),
    rgba(221, 232, 234, 0.237),
    rgba(4, 100, 127, 0)
  );
  --primary-color: rgb(241, 143, 4);
  --primary-colorlight: rgb(246, 187, 106);
  --primary-colorlight1: rgba(235, 189, 52, 0.923);
  --primary-colordark: rgb(200, 117, 0);
  --primary-colordark1: rgb(111, 66, 2);
  --secondary-color: rgba(0, 229, 255, 0.959);
  --secondary-colorlight: rgba(105, 230, 244, 0.845);
  --secondary-colorlight2: rgba(34, 233, 255, 0.5);
  --secondary-colordark: rgb(0, 153, 255);
  --secondary-colordark1: rgb(10, 142, 179);
  --gray-dark1: rgb(95, 72, 62);
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(235, 240, 241);
}

.head {
  background-color: aquamarine;
}

.btn {
  display: inline-block;
  background-color: rgb(66, 207, 250);
  font-size: 1.9rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  background-color: rgb(6, 100, 129);
  box-shadow: 0 0.7rem 1.5rem rgba(20, 20, 20, 0.822);
  color: rgb(150, 153, 153);
}

.btn--text {
  display: inline-block;
  font-size: 2.2rem;
  font-family: inherit;
  font-weight: 500;
  background: linear-gradient(42deg, #7f9aa7, #80929b, rgb(114, 134, 144), #43545d, #2a3d46, #17252d, #0b171c, #051015, #070707);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
}

.transup {
  font-size: 2.5rem;
  font-family: inherit;
  font-weight: 400;
  border-bottom: none;
  transform: translateY(0.9rem);
  background: var(--gradient-oragered);
}

.donate:active {
  transform: translateY(0.6rem) scale(0.93);
  color: #fa5902;
}

.heading-secondary {
  text-transform: uppercase;
  background-image: linear-gradient(45deg, #d04a02, #fe5d06, #ff7730, #f98649, #f29969, #f3ad87);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 58s infinite alternate;
}

.heading-title__para {
  font-size: 5.5rem;
}
.heading-title__para3 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--secondary-color);
}

.highlight {
  position: relative;
  color: var(--secondary-colordark);
  background: var(--gradient-oragered);
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.form__header {
  font-size: 2.5rem;
  margin: 2rem, auto;
  margin-top: 3rem;
  text-align: center;
  border-top: 0.2rem solid var(--primary-colordark);
}

.heading-img__details {
  top: 12rem;
  position: relative;
  margin: 1rem auto;
  width: 60%;
  font-size: 1.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 2.8rem;
  font-weight: 600;
  color: rgb(235, 240, 241);
  border-bottom: 0.3rem solid #fa5902;
  border-top: 0.3rem solid #fa5902;
  text-align: center;
}

.scroller__header {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin: 0.5rem auto;
  border-radius: 4rem;
  bottom: 0;
  margin: -0.8rem;
  border-bottom: 0.7rem solid #0472e8;
  box-shadow: 0 0.6rem 0.8rem #021b56;
}

.scroll__details-title {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "Times New Roman", Times;
  color: #000;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.3rem solid #fa5902;
}

.scroll:hover .scroll__details .scroll__details-title {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: "Times New Roman", Times;
  color: #333;
  line-height: 2.5rem;
  text-transform: capitalize;
  margin-left: 2rem;
  border-bottom: 0.2rem solid #0472e8;
  border-radius: 2rem;
}

.scroll__details-info {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Times New Roman", Times;
  color: #333;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.scroll:hover .scroll__details .scroll__details-info {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Times New Roman", Times;
  color: transparent;
  background: linear-gradient(to top, #5a6368, #3c474d, #1b2328, #000000);
  background-size: cover;
  background-position: top;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 2.2rem;
}

.link-more {
  position: relative;
  margin: 0.2rem auto;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "Times New Roman", Times;
  text-align: center;
  margin-top: 0.9rem;
  text-transform: uppercase;
  color: #000;
  display: block;
}

.more:hover .link-more,
.more:active .link-more {
  transform: translateY(-0.6rem) scale(1.2);
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 1.5rem 1rem;
  background-color: rgba(47, 198, 248, 0.6588235294);
  transform: translateY(-2.5rem) scale(0.9);
  border-radius: 0.4rem;
  z-index: 11;
}

.section {
  opacity: 0;
  transform: scale(0.5) translateY(5rem) skewX(15deg);
}

section {
  transition: all 0.5s ease-in-out;
}

.form-away {
  transform: translateX(100rem) scale(0.7);
  opacity: 0.7;
}

form {
  transition: all 0.8s;
}

.lazy-img {
  filter: blur(1rem);
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-large {
  margin-bottom: 3.5rem;
}

.roll-track {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 0.02rem;
  border-radius: 100vw;
  margin-block: 0.6rem;
}

.roll-btn {
  margin-right: 0.02rem;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 100vw;
  background: linear-gradient(to top, #008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

::-webkit-scrollbar {
  width: 0.01rem;
}

@keyframes animate {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
.roll-btn::before {
  content: "";
  position: absolute;
  top: 0;
  margin-right: 0.02rem;
  left: 0;
  height: 100%;
  border-radius: 100vw;
  background: linear-gradient(90deg, #004cfc, #2155e2, #0472e8, #2e89eb, #4690de, #08afe7, #30c8fb, #86ddfb);
  filter: blur(10px);
}

.roll-btn::after {
  margin-right: 0.02rem;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100vw;
  height: 100%;
  background: linear-gradient(to top, #008aff, #00ffe7);
  filter: blur(30px);
}

.animate {
  animation: imageScaling 10s linear alternate;
}

.flexdirection {
  flex-direction: column;
}

.slider {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem;
}
.slider__header {
  position: absolute;
  width: 100%;
  flex: 0 0 auto;
  top: 0.5rem;
  font-size: 2.2rem;
  text-align: center;
  border-radius: 0.4rem;
}
.slider__header-heading {
  width: 0%;
  display: none;
}

.slide {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6rem;
  transform: translate Y(1rem);
  transition: all 0.6s;
  border-radius: 0.4rem;
}
.slide-text {
  width: 100%;
}
.slide-text__heading {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(5, 5, 5, 0.386);
  z-index: 2;
}
.slide_img {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem;
}

.btnArr {
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 0.5rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.right {
  right: -1rem;
}

.left {
  left: 5rem;
}

.form-container {
  flex: 0 0 50%;
  width: 70%;
  align-self: stretch;
  background-image: linear-gradient(45deg, #fa5902, rgba(255, 120, 48, 0.7333333333), rgba(255, 255, 255, 0));
  background-size: cover;
  height: 30rem;
  margin: 2rem auto;
  border-radius: 0.4rem;
}

.form {
  margin-top: 2.5rem;
  width: 55%;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid var(--primary-color);
}
.form__input:focus:invalid {
  border-bottom: 3px solid var(--secondary-colordark);
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-input {
  display: none;
}
.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid var(--secondary-color);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-colordark);
  opacity: 0;
  transition: opacity 0.2s;
}
.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1;
}
.scroller {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.2rem 0;
  border-radius: 3rem;
  height: 100%;
  width: 30rem;
  top: 0;
}
.scroller-content {
  position: relative;
  flex: 0 0 90%;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  margin: 1rem auto;
  margin-top: 1rem;
  overflow: scroll;
}

.scroll {
  width: 100%;
  height: 20rem;
  color: #fff500;
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 0.4rem;
  background-image: linear-gradient(45deg, #004cfc, #2155e2, #0472e8, #2e89eb, #4690de, #08afe7, #30c8fb, #86ddfb);
  background-size: 400%;
  animation: bg-animation 30s infinite alternate;
  list-style: none;
  border-radius: 2rem;
  margin: 1rem auto;
  transition: all 0.3s ease-in;
  overflow: hidden;
}

.scroll:not(:last-child) {
  margin-bottom: 0.2rem;
  box-shadow: 0 1rem 1.5rem rgba(1, 23, 29, 0.9411764706);
  border-bottom: 0.18rem solid rgb(1, 17, 50);
}

.scroll:hover {
  flex-direction: column;
  justify-content: center;
  margin: 0.6rem;
  width: 100%;
  padding-bottom: 1.5rem;
  height: 60rem;
  color: #fff500;
  background-image: linear-gradient(45deg, #fa5902, rgba(255, 120, 48, 0.7333333333), rgba(255, 255, 255, 0));
  background-size: 700%;
  animation: bg-animation 25s infinite alternate;
}

.more {
  display: none;
  bottom: 0;
  height: 5rem;
  width: 12rem;
  background: linear-gradient(42deg, #7f9aa7, #80929b, rgb(114, 134, 144), #43545d, #2a3d46, #17252d, #0b171c, #051015, #070707);
  margin: 0.6rem auto;
  border-radius: 2rem;
  border-bottom: 0.4rem solid #0472e8;
  border-top: 0.4rem solid #0472e8;
}

.scroll:hover .img-circle {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  border-radius: 2rem;
  border-bottom: 0.4rem solid #0472e8;
  margin-bottom: 3rem;
  width: 100%;
  height: 22rem;
}

.scroll:hover .more {
  display: block;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.2rem;
}

.scroller-content::-webkit-scrollbar {
  width: 0.45rem;
  height: 0rem;
}

.scroller-content::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.6rem;
}

.scroller-content::-webkit-scrollbar-thumb {
  background-color: #ff7730;
  border-radius: 100vw;
}

.scroller-content::-webkit-scrollbar-thumb:hover,
.scroller-content::-webkit-scrollbar-thumb:active {
  background-color: #fa5902;
}

.img-circle {
  height: 12rem;
  width: 14rem;
  transition: all 0.2s;
}

.icon {
  float: right;
  fill: #fa5902;
  height: 4.5rem;
  width: 4.5rem;
  position: relative;
  padding: 0.2rem auto;
  right: 0;
  z-index: 100;
  top: 0;
}

.icon:hover {
  fill: #fa5902;
}

.icon:active {
  fill: #cb4801;
}

.iconslide {
  height: 10rem;
  width: 10rem;
  transition: all 0.3s;
}

.iconslide:hover {
  fill: #fa5902;
}

.iconslide:active {
  fill: #cb4801;
  transform: translateY(0.6rem);
}

.container {
  display: flex;
  height: 100rem;
  align-items: stretch;
  justify-content: space-between;
  margin: 1rem;
}

.sidebar {
  flex: 0 0 30%;
  margin-left: -2.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /*&__toparea {
    flex: 0 0 15%;
    background-color: rgb(63, 4, 4);
    border-radius: $border-radi;
  }*/
}

.mainsection {
  position: relative;
  flex: 0 0 75%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}

.tabs {
  flex: 0 0 5%;
  align-self: center;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.tabs__tab {
  flex: 0 0 auto;
}
.tabs__tab:not(:last-child) {
  margin-right: 2.5rem;
}

.tab-content {
  flex: 0 0 85%;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
.tab-content-container {
  display: none;
  flex: 0 0 100%;
  width: 100%;
  padding: 0.6rem;
  background: linear-gradient(42deg, #aabac2, #89a2ae, #80929b, #627985, #43545d, #2a3d46, #17252d, #0b171c, #051015, #060606);
  background-size: 400%;
  background-position: left;
  border-radius: 0.4rem;
}

.display {
  display: block;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100rem;
  flex-direction: column;
  background: linear-gradient(42deg, #7f9aa7, #80929b, rgb(114, 134, 144), #43545d, #2a3d46, #17252d, #0b171c, #051015, #070707);
  background-position: top;
  background-size: 450%;
  animation: bg-animation 50s infinite alternate;
  border-radius: 0.4rem;
}

.nav {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.nav-logobox {
  flex: 0 0 20%;
  top: 0;
}
.nav-logo {
  height: 15rem;
  width: 15.8rem;
}
.nav-links {
  position: relative;
  top: 0;
  flex: 0 0 80%;
  align-self: stretch;
  height: 6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom: 0.3rem solid red;
}

.heading-slider {
  flex: 0 0 70%;
  width: 80%;
  display: block;
  margin-right: 1rem auto;
  padding: 1.5rem 2rem;
  border-top: 0.2rem solid var(--primary-colordark1);
  height: 60rem;
}

.block {
  display: block;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.navigation > li {
  color: white;
  flex: 0 0 auto;
  padding: 0.4rem;
  text-align: center;
  height: 3.5rem;
  font-size: 2rem;
  transition: all 0.3s ease;
}

.navigation li a {
  color: rgb(234, 239, 240);
  text-decoration: none;
}

.navigation li svg {
  margin: 0.4rem auto;
  margin-top: -0.8rem;
}

.active,
.navigation li:not(:last-child):hover {
  color: white;
  text-transform: capitalize;
  background: var(--bg-grade);
  border-radius: 0.4rem;
}

.submenu--1 {
  display: none;
  transition: all 0.5s;
  border-radius: 0.5rem;
}

.navigation li a:hover .submenu--1 {
  display: block;
  position: absolute;
  background: var(--bg-grade);
  margin-top: 1.2rem;
  height: 20rem;
  overflow: scroll;
  margin-left: -0.5rem;
  z-index: 200;
  border-bottom: 0.4rem solid red;
}

.navigation li a:hover .submenu--1 ul {
  display: block;
  margin-top: -1rem;
  width: 100%;
  background: var(--bg-grade);
}

.navigation li a:hover .submenu--1 ul li {
  font-size: 1.6rem;
  color: #fa5902;
  padding: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: capitalize;
  transition: all 0.3s;
  box-shadow: 0 0.2rem 0.2rem 0.1rem rgba(11, 23, 28, 0.8666666667);
  background: var(--bg-grade);
}

.navigation li a:hover .submenu--1 ul li:not(:last-child) {
  border-bottom: 0.3rem solid rgb(22, 0, 0);
  box-shadow: 0.2 0.3rem 0.4rem 0.1rem rgba(2, 6, 7, 0.8666666667);
}

.submenu__item:not(:last-child):hover {
  margin-bottom: 0.6rem;
  border-bottom: 0.3rem solid rgb(22, 0, 0);
  box-shadow: 0.2 0.3rem 0.4rem 0.1rem rgba(2, 6, 7, 0.8666666667);
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.2rem;
}

.drop-container::-webkit-scrollbar {
  width: 0.25rem;
  height: 0rem;
}

.drop-container::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.2rem;
}

.drop-container::-webkit-scrollbar-thumb {
  background-color: rgb(160, 250, 49);
  border-radius: 100vw;
}

.drop-container::-webkit-scrollbar-thumb:hover,
.drop-container::-webkit-scrollbar-thumb:active {
  background-color: rgb(98, 255, 0);
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(42deg, #aabac2, #89a2ae, #80929b, #627985, #43545d, #2a3d46, #17252d, #0b171c, #051015, #060606);
  background-size: 350%;
  background-position: center;
  margin: 0.5rem 1.5rem;
  border-radius: 0.4rem;
}
.footer-1 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 84rem;
  border-bottom: 0.3rem dashed var(--gray-dark1);
}
.footer-2 {
  width: auto;
  border-radius: 0.4rem;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-2-socialMedia {
  align-self: flex-end;
  width: auto;
  height: 8rem;
  border-radius: 2rem;
  border-bottom: 0.4rem solid #ff7730;
  border-top: 0.4rem solid #ff7730;
}

.footer-media {
  align-self: stretch;
  display: inline-flex;
  list-style: none;
  float: right;
  padding: 0;
}

.footer-media__icon {
  padding: 0;
}

.icon-media {
  height: 6rem;
  width: 6rem;
  cursor: pointer;
}

.icon-media:hover {
  transform: scale(1.3);
}

.icon-media:active {
  filter: brightness(0.9);
  transform: scale(3.5) translateY(-0.4rem);
  opacity: 0;
}

.footer-2-copyright {
  height: auto;
  background-color: #0b171c;
  font-size: 1.6rem;
  color: #aabac2;
  text-align: center;
  margin-bottom: 0.5rem;
  border-bottom: 0.2rem solid #30c8fb;
}

.footer-2-nav {
  margin-top: 5rem;
  display: inline-flex;
  list-style: none;
}

.footer-nav__item a {
  color: #0472e8;
  transition: all 0.1s;
}

.footer-nav__item:not(:last-child) {
  margin-right: 3rem;
  border-right: 0.3rem solid #ff7730;
}

.footer-nav__item:hover a,
.footer-nav__item:active a {
  color: #fff;
  transform: scale(1.4) translateY(0.6rem);
}/*# sourceMappingURL=master.css.map */