* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 1rem;
  --gradient-primary: linear-gradient(to top left, #229be0, #6dc4c4);
  --primary-color: rgb(241, 143, 4);
  --primary-colorlight: rgb(246, 187, 106);
  --primary-colorlight1: rgba(235, 189, 52, 0.923);
  --primary-colordark: rgb(200, 117, 0);
  --primary-colordark1: rgb(111, 66, 2);
  --secondary-color: rgba(0, 229, 255, 0.959);
  --secondary-colorlight: rgba(105, 230, 244, 0.845);
  --secondary-colorlight2: rgba(34, 233, 255, 0.5);
  --secondary-colordark: rgb(0, 153, 255);
  --secondary-colordark1: rgb(10, 142, 179);
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(42, 59, 103);
}

.head {
  background-color: aquamarine;
}

.btn {
  display: inline-block;
  background-color: rgb(66, 207, 250);
  font-size: 1.9rem;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 1.25rem 4.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: rgb(6, 100, 129);
  box-shadow: 0 0.7rem 1.5rem rgba(20, 20, 20, 0.822);
  color: rgb(150, 153, 153);
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.9rem;
  font-family: inherit;
  font-weight: 500;
  color: rgb(66, 207, 250);
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}

.heading-title__para {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 3.5rem;
}
.heading-title__para3 {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--secondary-color);
}

.highlight {
  position: relative;
  color: var(--secondary-colordark);
}

.highlight::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

.container {
  display: flex;
  height: 100rem;
  align-items: stretch;
  padding: 1.8rem 1rem;
  margin: 1rem;
}

.sidebar {
  flex: 0 0 25%;
  border-right: 0.3rem solid rgb(255, 255, 255);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.sidebar__toparea {
  flex: 0 0 20%;
  background-color: rgb(63, 4, 4);
}
.sidebar__contentarea {
  flex: 0 0 50%;
  background-color: rgb(28, 104, 56);
}
.sidebar__summaryarea {
  flex: 0 0 30%;
  background-color: rgb(120, 115, 22);
}

.mainsection {
  flex: 0 0 75%;
  background-color: rgb(37, 62, 62);
  display: flex;
  flex-direction: column;
}
.mainsection__main-sliderContainer {
  flex: 0 0 40%;
  background-color: rgb(0, 247, 255);
  display: flex;
  justify-content: space-between;
}
.mainsection__main-sliderContainer__leftbox {
  flex: 0 0 25%;
  background-color: rgb(70, 87, 59);
}
.mainsection__main-sliderContainer__photoslider {
  flex: 0 0 50%;
  background-color: rgb(149, 149, 119);
}
.mainsection__main-sliderContainer__rightbox {
  flex: 0 0 25%;
  background-color: rgb(64, 34, 77);
}
.mainsection__maintextarea {
  flex: 0 0 25%;
  background-color: rgb(166, 0, 255);
}
.mainsection__featuresarea {
  flex: 0 0 10%;
  background-color: rgb(0, 255, 30);
}
.mainsection__secondary-slider {
  flex: 0 0 25%;
  background-color: rgb(179, 255, 0);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 80rem;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.nav {
  flex: 0 0 15%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.nav-logobox {
  margin-right: -15rem;
  flex: 0 0 25%;
}
.nav-logo {
  height: 19rem;
  width: 26rem;
}
.nav-links {
  flex: 0 0 50%;
  align-self: center;
  margin-right: 20rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}
.nav-item {
  height: 3.5rem;
  background-color: rgba(4, 222, 222, 0.845);
  font-size: 1.8rem;
  text-align: center;
  padding: 0.65rem 0.3rem;
}
.nav-link {
  text-decoration: none;
  color: rgb(16, 0, 0);
}

.heading {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4rem;
  padding: 1.5rem 2rem;
  border-top: 0.2rem solid var(--primary-colordark1);
  height: 70rem;
}
.heading-title {
  flex: 0 0 60%;
  text-align: center;
}
.heading-img {
  flex: 0 0 40%;
  height: 55rem;
  width: 75rem;
}

.footer {
  width: 100%;
  margin: 0.5rem 1.5rem;
  height: 20rem;
  background-color: rgb(3, 145, 98);
}/*# sourceMappingURL=master.css.map */