.faded {
  opacity: 0.45;
  transform: scale(0.8);
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  transform: translateY(-2.5rem) scale(0.7);
}
