.scroller {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0.2rem 0;
  //background-color: #1000ff;
  height: 35rem;
  top: 0;
  &__header {
    font-size: 2rem;
    margin: 0.5rem auto;
  }

  &-content {
    position: relative;
    flex: 0 0 90%;
    display: block;
    //align-content: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 1rem auto;
    margin-top: 1rem;
    overflow: scroll;
    //background-color: #e2f9fe;
  }
}

.scroll {
  width: 100%;
  height: 14rem;
  color: #fff500;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0.4rem;
  background-image: $blue-fade;
  background-size: 400%;
  animation: bg-animation 30s infinite alternate;
  list-style: none;
  border-radius: 2rem;
  margin: 1rem auto;
  transition: all 0.3s ease-in;
  overflow: hidden;
  //margin-left: -1.3rem;
  &__img {
    flex: 0 0 auto;
    border-radius: 50%;
  }
}
.scroll:not(:last-child) {
  margin-bottom: 0.2rem;
  box-shadow: 0 1rem 1.5rem #01171df0;
  border-bottom: 0.18rem solid rgb(1, 17, 50);
}
.scroll:hover {
  width: 100%;
  height: 40rem;
  color: #fff500;
  background-image: $solidcolor-gradient;
  background-size: 700%;
  animation: bg-animation 25s infinite alternate;
  //overflow: scroll;
}

::-webkit-scrollbar {
  width: 2rem;
}
::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin-block: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: $color-secondary-dark;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: $color-secondary-dark--1;
  //box-shadow: 0.6rem 0.4rem 1.2rem 0 rgba($color-secondary-dark--1, 0.8);
}
