.slider {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: $border-radi;

  &__header {
    position: absolute;
    width: 100%;
    flex: 0 0 auto;
    top: 0.5rem;
    font-size: 2.2rem;
    text-align: center;
    border-radius: $border-radi;
    &-heading {
      width: 0%;
      display: none;
    }
  }
}
.slide {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6rem;
  transform: translate Y(1rem);
  transition: all 0.6s;
  border-radius: $border-radi;
  &-text {
    width: 100%;
    &__heading {
      display: block;
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      text-align: center;
      // background-image: var(--bg-grade);
      background-color: $screen;
      z-index: 2;
    }
  }

  &_img {
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: $border-radi;
  }
}
.btnArr {
  position: absolute;
  top: 50%;
  text-align: center;
  padding: 0.5rem;
  width: 5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.right {
  right: -1rem;
}
.left {
  left: 5rem;
}

// .slide__heading-img {
//   display: block;
//   position: absolute;
//   margin-top: 0;
//   margin: 1.2rem 0rem;
//   padding: 0;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   text-align: center;
//   z-index: 0;
//   //   animation: imageScaling 8s infinite alternate;
//}
