.heading-secondary {
  text-transform: uppercase;
  background-image: $orangered-fade;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 400%;
  animation: bg-animation 58s infinite alternate;
}
.heading-title {
  &__para {
    font-size: 5.5rem;
  }
  &__para3 {
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--secondary-color);
  }
}

.highlight {
  position: relative;
  color: var(--secondary-colordark);
  background: var(--gradient-oragered);
}

.highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}
.form__header {
  font-size: 2.5rem;
  margin: 2rem, auto;
  margin-top: 3rem;
  text-align: center;
  border-top: 0.2rem solid var(--primary-colordark);
}

.heading-img__details {
  top: 12rem;
  position: relative;
  margin: 1rem auto;
  width: 60%;
  font-size: 1.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 2.8rem;
  //letter-spacing: 0.4rem;
  font-weight: 600;
  color: $color-grey-light-2;
  border-bottom: 0.3rem solid $color-secondary-dark--1;
  border-top: 0.3rem solid $color-secondary-dark--1;
  text-align: center;
}
.scroller__header {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  margin: 0.5rem auto;
  border-radius: 4rem;
  bottom: 0;
  margin: -0.8rem;
  border-bottom: 0.7rem solid $color-tertiary-dark;
  box-shadow: 0 0.6rem 0.8rem #021b56;
}
.scroll__details-title {
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "Times New Roman", Times;
  color: $color-black;
  line-height: 2.2rem;
  margin-bottom: 1.5rem;
  border-bottom: 0.3rem solid $color-secondary-dark--1;
}

.scroll:hover .scroll__details .scroll__details-title {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: "Times New Roman", Times;
  color: $color-grey-dark-3;
  line-height: 2.5rem;
  text-transform: capitalize;
  margin-left: 2rem;
  border-bottom: 0.2rem solid $color-tertiary-dark;
  border-radius: 2rem;
}

.scroll__details-info {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Times New Roman", Times;
  color: $color-grey-dark-3;
  line-height: 1.8rem;
  margin-bottom: 2rem;
}

.scroll:hover .scroll__details .scroll__details-info {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Times New Roman", Times;
  color: transparent;
  background: $text-fade;
  background-size: cover;
  background-position: top;
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 2.2rem;
}

.link-more {
  position: relative;
  margin: 0.2rem auto;
  font-size: 2.2rem;
  font-weight: 500;
  font-family: "Times New Roman", Times;
  text-align: center;
  margin-top: 0.9rem;
  //text-decoration: underline;
  text-transform: uppercase;
  color: $color-black;
  display: block;
}

.more:hover .link-more,
.more:active .link-more {
  transform: translateY(-0.6rem) scale(1.2);
}
