$color-transparent: #2fc6f8a8;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-secondary-dark--1: #fa5902;
$color-secondary-dark--2: #cb4801;

$color-tertiary-light: #30c8fb;
$color-tertiary-dark: #0472e8;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(235, 240, 241);

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;
$screen: rgba(5, 5, 5, 0.386);
//gredients
// $faded-gray: linear-gradient(
//   42deg,
//   #aabac2,
//   #89a2ae,
//   #80929b,
//   #627985,
//   #43545d,
//   #2a3d46,
//   #17252d,
//   #0b171c,
//   #051015,
//   #060606
// );
$faded-gray: linear-gradient(
  42deg,
  #7f9aa7,
  #80929b,
  rgb(114, 134, 144),
  #43545d,
  #2a3d46,
  #17252d,
  #0b171c,
  #051015,
  #070707
);

//text animation background img
$orangered-fade: linear-gradient(
  45deg,
  #d04a02,
  #fe5d06,
  #ff7730,
  #f98649,
  #f29969,
  #f3ad87
);
$blue-fade: linear-gradient(
  45deg,
  #004cfc,
  #2155e2,
  #0472e8,
  #2e89eb,
  #4690de,
  #08afe7,
  #30c8fb,
  #86ddfb
);

$solidcolor-gradient: linear-gradient(
  45deg,
  $color-secondary-dark--1,
  #ff7830bb,
  #ffffff00
);

$text-fade: linear-gradient(to top, #5a6368, #3c474d, #1b2328, #000000);

$default-font-size: 1.6rem;
$border-radi: 0.4rem;
