.container {
  display: flex;
  height: 100rem;
  align-items: stretch;
  justify-content: space-between;
  //padding: 1.8rem 1rem;
  margin: 1rem;
}
.sidebar {
  flex: 0 0 30%;
  //border-right: 0.3rem solid rgb(255, 255, 255);
  margin-left: -2.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  /*&__toparea {
    flex: 0 0 15%;
    background-color: rgb(63, 4, 4);
    border-radius: $border-radi;
  }*/
  // &__contentarea {
  //   flex: 0 0 60%;
  //   border-radius: $border-radi;
  //   //background-color: rgb(28, 104, 56);
  // }
  // &__summaryarea {
  //   flex: 0 0 40%;
  //   border-radius: $border-radi;
  //   //background-color: rgb(120, 115, 22);
  //   display: flex;
  //   flex-direction: column;
  //   align-items: stretch;
  //   justify-content: center;
  //   padding: 0.3rem;
  //   z-index: 0;
  // }
}

.mainsection {
  position: relative;
  flex: 0 0 75%;
  //background: var(--gradient-secondary);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
.tabs {
  flex: 0 0 5%;
  align-self: center;
  width: auto;
  //background: var(--gradient-oragered);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  &__tab {
    flex: 0 0 auto;
  }

  // &__tab:hover {
  //   font-size: 2.5rem;
  //   font-family: inherit;
  //   font-weight: 400;
  //   color: rgb(3, 1, 23);
  //   border-bottom: none;
  //   //background: var(--secondary-colordark);
  //}
  &__tab:not(:last-child) {
    margin-right: 2.5rem;
  }
}
.tab-content {
  flex: 0 0 85%;
  width: 100%;
  //background-color: orangered;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  &-container {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    padding: 0.6rem;
    background: linear-gradient(
      42deg,
      #aabac2,
      #89a2ae,
      #80929b,
      #627985,
      #43545d,
      #2a3d46,
      #17252d,
      #0b171c,
      #051015,
      #060606
    );
    background-size: 400%;
    background-position: left;
    border-radius: $border-radi;
  }
}
.display {
  display: block;
}
