.container {
  display: flex;
  height: 100rem;
  align-items: stretch;
  //padding: 1.8rem 1rem;
  margin: 1rem;
}
.sidebar {
  flex: 0 0 25%;
  border-right: 0.3rem solid rgb(255, 255, 255);
  margin-left: -2.5rem;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  &__toparea {
    flex: 0 0 15%;
    background-color: rgb(63, 4, 4);
  }
  &__contentarea {
    flex: 0 0 45%;
    //background-color: rgb(28, 104, 56);
  }
  &__summaryarea {
    flex: 0 0 40%;
    background-color: rgb(120, 115, 22);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    padding: 0.3rem;
    z-index: 0;
  }
}

.mainsection {
  flex: 0 0 75%;
  //background: var(--gradient-secondary);
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
.tabs {
  flex: 0 0 5%;
  align-self: center;
  width: auto;
  //background: var(--gradient-oragered);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  &__tab {
    flex: 0 0 auto;
  }

  // &__tab:hover {
  //   font-size: 2.5rem;
  //   font-family: inherit;
  //   font-weight: 400;
  //   color: rgb(3, 1, 23);
  //   border-bottom: none;
  //   //background: var(--secondary-colordark);
  //}
  &__tab:not(:last-child) {
    margin-right: 2.5rem;
  }
}
.tab-content {
  flex: 0 0 85%;
  width: 100%;
  //background-color: orangered;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  &-container {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    padding: 0.6rem;
    background-color: red;
  }
}
.display {
  display: block;
}
