.header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 80rem;
  flex-direction: column;
  background: $faded-gray;
  background-position: top;
  background-size: 450%;
  animation: bg-animation 50s infinite alternate;
  border-radius:$border-radi;
}
.nav {
  // position: relative;
  // top: 0;
  // left: 0;
  flex: 0 0 auto;
  //background: var(--gradient-primary1);
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  &-logobox {
    margin-right: -15rem;
    flex: 0 0 auto;
    transition: all 0.15s ease-in;
  }
  &-logo {
    height: 19rem;
    width: 28rem;
  }
  &-links {
    //position: fixed;
    flex: 0 0 50%;
    align-self: center;
    margin-right: 20rem;
    padding: 1rem;
    //background-color: rgb(14, 96, 96);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-transform: uppercase;
  }
  &-item:not(:last-child) {
    height: 3.5rem;
    background-color: var(--primary-color);
    font-size: 1.8rem;
    text-align: center;
    padding: 0.65rem 0.3rem;
    flex: 0 0 auto;
    transition: all 0.3s;
  }
  &-item:not(:last-child) {
    margin-right: 1.2rem;
  }
  &-item:not(:last-child):hover {
    background-color: var(--secondary-colordark1);
    font-size: 1.8rem;
  }
  &-link {
    text-decoration: none;
    color: rgb(16, 0, 0);
    transition: all 0.3s ease-in;
  }
}
.heading {
  flex: 0 0 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 4rem;
  padding: 1.5rem 2rem;
  border-top: 0.2rem solid var(--primary-colordark1);
  height: 70rem;

  &-title {
    flex: 0 0 60%;
    text-align: center;
  }
  &-slider {
    flex: 0 0 40%;
  }
}
.block {
  display: block;
}
.what {
  order: 4;
}
