* {
  box-sizing: border-box;
  margin: 0;
  padding: 0 1rem;

  --gradient-primary: linear-gradient(to top left, #229be0, #6dc4c4);
  --primary-color: rgb(241, 143, 4);
  --primary-colorlight: rgb(246, 187, 106);
  --primary-colorlight1: rgba(235, 189, 52, 0.923);
  --primary-colordark: rgb(200, 117, 0);
  --primary-colordark1: rgb(111, 66, 2);

  --secondary-color: rgba(0, 229, 255, 0.959);
  --secondary-colorlight: rgba(105, 230, 244, 0.845);
  --secondary-colorlight2: rgba(34, 233, 255, 0.5);
  --secondary-colordark: rgb(0, 153, 255);
  --secondary-colordark1: rgb(10, 142, 179);
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(42, 59, 103);
}

.head {
  background-color: aquamarine;
}
